@value makerGreen,makerWhite,makerBlack from '../../common/colors.css';
.button{
background-color: makerGreen;
color: makerWhite;
font-weight: bold;
cursor: pointer;
padding: 0.5em;
flex: 1 1 50%;
font-size: 0.6rem;
}

.button:hover{
    opacity: 0.8;
}