@value makerlightGray,makerGreen,makerWhite,makerBlack from '../../common/colors.css';

.editor{
    flex-basis: 50%;
    background-color: wheat;
    border-right: 1px solid makerlightGray;
    padding: 0.5em 2em;
}
.title{
color: makerGreen;
text-align: center;
}

