@value makerShadow,makerBlack,makerWhite,makerColorful,makerWheat from '../../common/colors.css';

.card{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: yellow;
    margin-bottom: 0.5em;
    border-radius: 1em;
    padding: 0.2em 0;
    box-shadow: 6px 6px 8px 0px makerShadow;
    max-width: 35rem;
}

.card.dark {
    background-color: makerBlack;
    color: makerWhite;
  
}

.card.light {
    background-color: makerWhite;
}

.card.colorful {
    background: makerColorful;
}

.avatar {
    width: 10em;
    height: 10em;
    padding: 1em;
    margin-left: 0.5em;
    margin-right: 1em;
    border-radius: 50%;
}

.info{
    width: 100%;
}

.name, 
.company, 
.title, 
.email, 
.message {
    margin : 0;
    font-size: 0.8rem;
    margin-bottom: 0.2em;
}

.name {
    font-size: 1.2rem;
}

.company {
    background: 1em;
}
.company::after{
    content: '';
    display: block;
    width: 90%;
    height: 2px;
    background-color: makerWheat;
    transform: translateY(0.3em);
}