.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


    .input {
        display: none;
    }

    .button {
        width: 100%;
        height: 100%;

        font-weight: bold;
        cursor: pointer;
        border: 0;
        outline: 0;
        font-size: 0.8rem;
    }
    .button.grey {
        background: lightgray; 
    }
    .button.pink {
        background-color: thistle;
    }

    .button:hover{
        opacity: 0.8rem;
    }

    .loading{
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        border: 3px solid LightGrey;
        border-top: 3px solid pink;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100%{
            transform: rotate(360deg);
        }
    }